@charset "UTF-8";

#list_table {
	width: 800px;
	margin: 0 auto;
	font-size: 14px;
	border-collapse: collapse;
}

h2 {
	text-align: center;
	padding: 40px 0;
	background-color: #EEEEEE;
	margin: 0;
	margin-bottom: 12px;
}

#list_table a {
	text-decoration: none;
	color: black;
}

#list_table a:hover {
	color: #F11C6E;
}

#list_table tr {
	height: 30px;
}

#list_table tr:not(:last-child) {
	border-bottom: 1px solid #FCA4C6;
}

#list_table tr:last-child {
	border-top: 2px solid #F11C6E;
}

#thead {
	background-color: #F11C6E;
	color: white;
	font-weight: 800px;
	font-size: 17px;
}

.number {
	width: 5%;
	text-align: center;
}

.duration {
	width: 12%;
	text-align: center;
}

.title {
	width: 55%;
	text-align: center;
}

.writer {
	width: 13%;
	text-align: center;
}

.date {
	width: 10%;
	text-align: center;
}

.hit {
	width: 5%;
	text-align: center;
}

button {
	width: 150px;
}

#write {
	margin-top: 16px;
	margin-bottom: 16px;
	padding: 10px 30px;
}

#searchbox {
	margin: 0 auto;
	width: 500px;
	height: 40px;
}

#search {
	width: 60px;
	padding: 5px 10px;
	font-size: 12px;
	height: 30px;
}

form>input {
	padding: 1px;
	width: 330px;
}

form>select {
	height: 21px;
}

#resultbox {
	display: block;
	margin-left: 100px;
}

@media screen and (max-width: 1000px) {
	#list_table {
		max-width: 630px;
	}
}