@charset "UTF-8";

@font-face {
	font-family: 'IBMPlexSansKR-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

html {
	margin: 0;
	min-height: 100vh;
}

body {
	margin: 0;
}

#wrap {
	width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	padding-bottom: 120px;
	overflow: hidden;
	position: relative;
}

#header {
	display: block;
	height: 40px;
}

#contents {
	min-height: 800px;
	max-height: 100vh;
	font-family: 'IBMPlexSansKR-Regular';
	margin: 0 auto;
}

button {
	border: 0;
	padding: 10px 70px;
	border-radius: 15px;
	background-color: #94FB18;
	color: #FFFFFF;
	cursor: pointer;
	font-weight: 700;
	width: 230px;
	overflow: hidden;
}

button:hover {
	background-color: #F11C6E;
}

#footer {
	font-family: 'IBMPlexSansKR-Regular';
	position: absolute;
	bottom: 0;
}